
/* Josh's Custom CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img {
  max-width: 100%; /* do not display:block for img! */
}
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul,ol{
    list-style: none;
    padding: 0;
}
#root,
#__next {
  isolation: isolate;
}

/** variable colors **/
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;
$fourth-color :#008766;
$fifth-color:#003A68;
$sixth-color:#89C8FA;
$dark-gray:#7e7e7e;
$gray:#EAEAEA;
$light-gray:#f6f6f6;
$footer-bg:#000;
$footer-color:#fff;
  
/* google fonts icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* common */
// h2, h3, h4{
//     font-family: "Shrikhand",sans-serif;
// }
h1{
    font-size: 24px;
}
h2{
    font-size: 24px;
}
h3,h4{
    font-size: 18px;
}
@mixin box-shadows($color){
    box-shadow: 0px 4px 15px 0px $color;
}
button{
    background: linear-gradient(to top, $primary-color -11.44%, $secondary-color 123.93%);
    border-radius: 2em;
    color: $footer-color;
    border: none;
    padding: 1em;
    @include box-shadows(#00000040);

}
/* Header */
header{
    .logo {
        text-align: center;
        padding: 1em 0;
        img{
            width: 50%;
        }
    }
    .location {
        text-align: center;
        padding: .5em 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,$gray 10%,$gray 100%);
        i{
            padding-right: 1em;
        }
    }
}
/* END Header */

/* Footer */
footer{
    background-color: $footer-bg;
    color: $footer-color;
    padding: 1em;
    h4{
       margin: 0;
       padding: .5em 0; 
    }
    a{
        text-decoration: none;
        color: $footer-color;
    }
    i{
        width: 25px;
        padding-right: 1.5em;
    }
}
/* END Footer */

/* only for charte.html can be delete */
.color {
    text-align: center;
    width: 200px;
    height: 50px;
    font-weight: bold;
    margin: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first{
    background-color: $primary-color;
}
.second{
    background-color: $secondary-color;
}
.third{
    background-color: $third-color;
}
.fourth{
    background-color: $fourth-color;
}
.fifth{
    background-color: $fifth-color;
}
.sixth{
    background-color: $sixth-color;
}
.gray{
    background-color: $gray;
}
.light{
    background-color: $light-gray;
}
.footer{
    background-color: $footer-bg;
    color: $footer-color;
}
/* end only for charte.html can be delete */
