
/** variable colors **/
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;
$jesaispo :#008766;
$jesaispo2:#003A68;
$serieux:#89C8FA;

* {
    font-family: "Roboto", sans-serif;
}
h1, h2, h3{
    font-family: "Shrikhand",sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
