@use 'arche';
@use 'anim';

/* main content  */
.main-title{
    background-color: arche.$light-gray;
    padding: 2em 1em;
    text-align: center;
    margin-top: 5px;
    p{
      padding: 1.5em 0;
    }
    button{
      margin-top: 1em;
    }
}
main p{
  font-size: 14px;
}
/* steps */
.steps{
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    li{
        margin: 1em 0 1em .5em;
        text-align: left;
        padding: 1.5em 0;
        font-weight: bold;
        background-color: arche.$light-gray;
        border-radius: 1em;
        counter-increment: count 1;
        position: relative;
        @include arche.box-shadows(10px,#00000040);
        i{
            margin-right:1em;
            color: arche.$dark-gray;
        }
        i.done{
          color: arche.$primary-color;
        }
    }
    li::before{
        content: counter(count);
        text-align: center;
        font-weight: normal;
        border-radius: 2em;
        background-color: arche.$primary-color;
        color: arche.$footer-color;
        padding: .35em .65em;
        position: relative;
        left: -1em;
    }
}

/* restaurants */
.main-content{
  padding: 2em 1em;
  background-color: arche.$light-gray;
}
.restaurants{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    article{
        margin: 1em 0;
        background-color: arche.$footer-color;
        border-radius: 1em;
        position: relative;
    }
    img {
        object-fit: cover;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        height: 200px;
        width: 100%;
    }
    .new {
      position: absolute;
      top: 0;
      right: 0;
      background-color: arche.$third-color;
      padding: .25em .75em;
      color: arche.$fourth-color;
      margin: 1em;
    }
    .card-content {
      padding: 1em;
      position: relative;
    }
    .card-favorite {
      position: absolute;
      top: 0;
      right: 0;
      margin: .5em 1em;
      font-size: 25px;
      .done{
        background: linear-gradient(193.33deg, arche.$primary-color -11.44%, arche.$secondary-color 123.93%);
        background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
      }
    }
}
/* Tablets */
@media screen and (min-width: 769px) {
  header{
      background-color: red;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  header{
    background-color: blue;
  }
  .steps>*{
    max-width: 1055px;
    align-self: center;
    width: 100%;
  }
  .steps{
    ul {
      display: flex;
      justify-content: space-between;
      li{
        width: 30%;
      }
    }
  }
  .restaurants, .main-content h2{
    margin: 0 auto;
    max-width: 1055px;
    width: 100%;
  }
  .restaurants {
    justify-content: space-between;
    flex-direction: initial;
    flex-wrap: wrap;
    article{
      width: 495px;
    }
  }
}