@use 'arche';

h1{
    font-family: "Shrikhand",sans-serif;;
}
h2{
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}
h2:after {
    content: ""; 
    display: block;
    margin: 0;
    width: 40px;
    border-bottom: 2px solid arche.$third-color;
}
/* animation */
.meals{
    animation: myAnim 2s ease 0s 1 normal backwards;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.meals2 {
    animation-duration: 3s;
    animation-name: slidedown;
  }
  
  @keyframes slidedown {
    from {
      margin-top: 0%;
      height: 0%;
    }
  
    to {
      margin-top: 100%;
      height: 100%;
    }
  }
  