@keyframes fadeout {
  0% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  50% {
    opacity: 0.8;
  }
  85% {
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@keyframes toleft {
  from {
    width: 100%;
  }
  to {
    background-position: left;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0.2;
    width: 0px;
  }
  100% {
    opacity: 1;
    width: 60px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#root,
#__next {
  isolation: isolate;
}

/** variable colors **/
/* common */
h4 {
  font-family: "Shrikhand", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

button {
  background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 2em;
  color: #fff;
  border: none;
  padding: 1em 1.5em;
  text-align: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
button:hover, button:active {
  cursor: pointer;
  background: linear-gradient(to top, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(to top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

/* Header */
header .logo {
  text-align: center;
  padding: 1em 0;
}
header .location {
  text-align: center;
  padding: 0.85em 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, #EAEAEA 10%, #EAEAEA 100%);
}
header .location i {
  padding-right: 1em;
}

/* END Header */
/* Footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 1em;
}
footer h4 {
  margin: 0;
  padding: 0.5em 0;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer i {
  width: 25px;
  padding-right: 1.5em;
}

/* END Footer */
/* Tablets */
@media screen and (min-width: 769px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer ul {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  h1 {
    font-size: 36px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer ul {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
  }
}
/* lightbox */
.lightbox {
  position: fixed;
  align-content: center;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background: rgb(0, 0, 0);
  animation-name: fadeout;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

/* loader  */
.loader {
  width: 0;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, #FF79DA calc(50% + 0.5ch), #9356DC 0) right/calc(200% + 1ch) 100%;
  background-clip: text;
  animation: toleft 2s infinite steps(11);
  margin: auto;
}

.loader:before {
  content: "Loading...";
}

/* main content  */
.main-title {
  background-color: #f6f6f6;
  padding: 2em 1em;
  text-align: center;
  margin-top: 5px;
}
.main-title p {
  padding: 1.5em 0;
}
.main-title button {
  margin-top: 1em;
}

main p {
  font-size: 14px;
}

/* steps */
.steps {
  padding: 2em 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.steps li {
  margin: 1em 0 1em 0.5em;
  text-align: left;
  padding: 1.5em 0;
  font-weight: bold;
  background-color: #f6f6f6;
  border-radius: 1em;
  counter-increment: count 1;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.steps li i {
  margin-right: 1em;
  color: #7e7e7e;
}
.steps li i.done {
  color: #9356DC;
}
.steps li::before {
  content: counter(count);
  text-align: center;
  font-weight: normal;
  border-radius: 2em;
  background-color: #9356DC;
  color: #fff;
  padding: 0.35em 0.65em;
  position: relative;
  left: -1em;
}

/* restaurants */
.main-content {
  padding: 2em 1em;
  background-color: #f6f6f6;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restaurants article {
  margin: 1em 0;
  background-color: #fff;
  border-radius: 1em;
  position: relative;
}
.restaurants img {
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 200px;
  width: 100%;
}
.restaurants .new {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #99E2D0;
  padding: 0.25em 0.75em;
  color: #008766;
  margin: 1em;
}
.restaurants .card-content {
  padding: 1em;
  position: relative;
}
.restaurants .card-favorite {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em 1em;
  font-size: 25px;
}
.restaurants .card-favorite i:hover {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 600;
  animation: fadeIn 2s forwards;
}
.restaurants .card-favorite .done {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* Tablets */
/* Desktop */
@media (min-width: 1024px) {
  .steps > * {
    max-width: 1055px;
    align-self: center;
    width: 100%;
  }
  .steps ul {
    display: flex;
    justify-content: space-between;
  }
  .steps ul li {
    width: 30%;
  }
  .restaurants, .main-content h2 {
    margin: 0 auto;
    max-width: 1055px;
    width: 100%;
  }
  .restaurants {
    justify-content: space-between;
    flex-direction: initial;
    flex-wrap: wrap;
  }
  .restaurants article {
    width: 495px;
  }
}

/*# sourceMappingURL=home.css.map */
