/* Josh's Custom CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%; /* do not display:block for img! */
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#root,
#__next {
  isolation: isolate;
}

/** variable colors **/
/* common */
h4 {
  font-family: "Shrikhand", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

button {
  background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 2em;
  color: #fff;
  border: none;
  padding: 1em;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
button:hover {
  background: linear-gradient(to top, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(to top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

/* Header */
header .logo {
  text-align: center;
  padding: 1em 0;
}
header .logo img {
  width: 50%;
}
header .location {
  text-align: center;
  padding: 0.85em 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, #EAEAEA 10%, #EAEAEA 100%);
}
header .location i {
  padding-right: 1em;
}

/* END Header */
/* Footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 1em;
}
footer h4 {
  margin: 0;
  padding: 0.5em 0;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer i {
  width: 25px;
  padding-right: 1.5em;
}

/* END Footer */
/* only for charte.html can be delete */
.color {
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: bold;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first {
  background-color: #9356DC;
}

.second {
  background-color: #FF79DA;
}

.third {
  background-color: #99E2D0;
}

.fourth {
  background-color: #008766;
}

.fifth {
  background-color: #003A68;
}

.sixth {
  background-color: #89C8FA;
}

.gray {
  background-color: #EAEAEA;
}

.light {
  background-color: #f6f6f6;
}

.footer {
  background-color: #000;
  color: #fff;
}

/* end only for charte.html can be delete */
/* loader basic
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    background: linear-gradient(90deg,arche.$secondary-color calc(50% + 0.5ch),arche.$primary-color 0) right/calc(200% + 1ch) 100%;
    -webkit-background-clip: text;
            background-clip: text;
    animation: l7 2s infinite steps(11);
  }
  .loader:before {
    content:"Loading..."
  }
  @keyframes l7 {to{background-position: left}}*/
/* loader heartbeat */
.loader {
  position: relative;
  width: 40px;
  height: 60px;
  margin: auto;
  animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader:before,
.loader:after {
  content: "";
  background: #9356DC;
  width: 40px;
  height: 60px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 50% 68%;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.2666666667) inset;
}

.loader:after {
  transform: rotate(-45deg);
}

@keyframes heartBeat {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
/* main content  */
.main-title {
  background-color: #f6f6f6;
  padding: 2em 1em;
  text-align: center;
  margin-top: 5px;
}
.main-title p {
  padding: 1.5em 0;
}
.main-title button {
  margin-top: 1em;
}

/* steps */
.steps {
  padding: 2em 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.steps li {
  margin: 1em 0 1em 0.5em;
  text-align: left;
  padding: 1.5em 0 1.5em 2.5em;
  font-weight: bold;
  background-color: #f6f6f6;
  border-radius: 1em;
  counter-increment: count 1;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.steps li i {
  margin-right: 20px;
  color: #7e7e7e;
}
.steps li i.done {
  color: #9356DC;
}
.steps li::before {
  content: counter(count, decimal);
  text-align: center;
  font-weight: normal;
  width: 25px;
  height: 25px;
  border-radius: 2em;
  background-color: #9356DC;
  color: #fff;
  position: absolute;
  left: -10px;
}

/* restaurants */
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em 1em;
  background-color: #f6f6f6;
}
.restaurants article {
  margin: 1em 0;
  background-color: #fff;
  border-radius: 1em;
  position: relative;
}
.restaurants img {
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 200px;
  width: 100%;
}
.restaurants .new {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #99E2D0;
  padding: 0.25em 0.75em;
  color: #008766;
  margin: 1em;
}
.restaurants .card-content {
  padding: 1em;
  position: relative;
}
.restaurants .card-favorite {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em 1em;
  font-size: 25px;
}
.restaurants .card-favorite .done {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*# sourceMappingURL=home.css.map */
