*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#root,
#__next {
  isolation: isolate;
}

/** variable colors **/
/* common */
h4 {
  font-family: "Shrikhand", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

button {
  background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 2em;
  color: #fff;
  border: none;
  padding: 1em 1.5em;
  text-align: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
button:hover, button:active, button:target {
  background: linear-gradient(to top, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(to top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

/* Header */
header .logo {
  text-align: center;
  padding: 1em 0;
}
header .location {
  text-align: center;
  padding: 0.85em 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, #EAEAEA 10%, #EAEAEA 100%);
}
header .location i {
  padding-right: 1em;
}

/* END Header */
/* Footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 1em;
}
footer h4 {
  margin: 0;
  padding: 0.5em 0;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer i {
  width: 25px;
  padding-right: 1.5em;
}

/* END Footer */
/* Tablets */
@media screen and (min-width: 769px) {
  header {
    background-color: red;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer ul {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  header {
    background-color: blue;
  }
  h1 {
    font-size: 36px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer ul {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
  }
}
h1 {
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}

h2:after {
  content: "";
  display: block;
  margin: 0;
  width: 40px;
  border-bottom: 2px solid #99E2D0;
}

.logo a {
  font-size: 20px;
  margin: 5px 0 0 25px;
  left: 0;
  position: absolute;
}

.main-img img {
  object-fit: cover;
  height: 275px;
  width: 100%;
}

.menu {
  background-color: #EAEAEA;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  padding: 2em 1em;
  margin-top: -50px;
  position: relative;
  width: 100%;
}
.menu a.fav {
  position: absolute;
  right: 30px;
}
.menu a.fav:hover i {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 600;
  animation: fadeIn 2s forwards;
}
.menu button {
  display: flex;
  justify-content: center;
  width: 55%;
  margin: 30px auto 0 auto;
}
.menu .starters {
  margin: 1em 0;
  overflow: hidden;
  position: relative;
}
.menu .starters a {
  background: #fff;
  display: flex;
  border-radius: 1em;
  margin: 1em 0;
  padding: 1em;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: transform 800ms;
}
.menu .starters a:hover .fade, .menu .starters a:active .fade {
  display: flex;
  animation: slideInRight 1s both;
}
.menu .starters article {
  display: flex;
  width: 100%;
}
.menu .starters article .card-txt {
  width: 80%;
}
.menu .starters article .card-title, .menu .starters article .card-price {
  font-size: larger;
  font-weight: bold;
}
.menu .starters article .card-title, .menu .starters article .card-subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}
.menu .starters article .card-check {
  justify-content: right;
  display: flex;
  width: 20%;
  align-items: end;
}
.menu .starters .fade {
  margin: -0.85em -0.85em -0.85em 1em;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #008766;
  font-size: 20px;
  border-radius: 0 1em 1em 0;
}
.menu .starter1 {
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: slideDown;
}
.menu .starter2 {
  animation-delay: 4s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: slideDown;
}
.menu .starter3 {
  animation-delay: 7s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: slideDown;
}

/* Tablets */
@media screen and (min-width: 769px) {
  header {
    background-color: red;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  header {
    background-color: blue;
  }
  .menu {
    max-width: 1055px;
    margin: -50px auto 0;
    padding: 2em 5em;
  }
  .menu h1 {
    text-align: center;
    font-size: 28px;
  }
  .menu h1 a.fav {
    margin-left: 30px;
    right: initial;
  }
  .menu .starters {
    margin: 1em auto;
    max-width: 640px;
  }
}

/*# sourceMappingURL=resto.css.map */
